<link rel="stylesheet" href="/styles/dashboard.css" type="text/css">

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="card text-center w-100">
            <div class="card-header">
                <h5 class="card-title">Competitor Data</h5>
            </div>
            <div id="competitors" class="card-body" style="max-height: 150px; overflow-y: scroll;">
                <canvas id="competitorChart-Steps" style="max-height: 130px;max-width: 33%; float:left;"></canvas>
                <canvas id="competitorChart-Hours" style="max-height: 130px;max-width: 33%; float:left;"></canvas>
                <canvas id="competitorChart-Miles" style="max-height: 130px;max-width: 33%; float:left;"></canvas>
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>

    <div class="userprofile col-md-12 ">
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        Personal Details
                    </div>
                    <img class="img-fluid" src="/images/emoji-user-img.jpg" alt="" style="max-height: 150px; max-width: 150px; margin-left: 25px">
                    <div class="card-body">
                        <h5 id="welcome-text" class="card-title" data-id="{{user.id}}">Welcome {{user.firstName}}!</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{user.username}}</li>
                            <li class="list-group-item">{{user.email}}</li>
                        </ul>
                        <br><br>
                        <h5 class="card-title">Create Activity</h5>
                            <form id="create-form">
                                <div class="form-group">
                                    <label for="activity-title">Activity:</label>
                                    <input type="text" id="new-activity-title" name="title">
                                </div>

                                <div class="form-group">
                                    <label for="activity-type">Type:</label>
                                    <select id="new-avtivity-type" name="type">
                                        <option value="Steps">Steps</option>
                                        <option value="Hours">Hours</option>
                                        <option value="Miles">Miles</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="activity-amount">Amount:</label>
                                    <input type="text" id="new-activity-amount" name="amount">
                                </div>

                                <button type="submit" class="btn btn-success btn-lg btn-block">Add Activity</button>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex align-items-stretch">
                    <div class="card" style="max-height: 475px; overflow: scroll;">
                        <div class="card-header">
                            Recent Activity
                        </div>

                        <div id="my-activities">

                        </div>

                        
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-wrap align-items-stretch">
                    <div class="card">
                        <div class="card-header">
                            Steps Graph
                        </div>
                        <div class="card-body">
                            <canvas id="myChart-Steps" style="max-height:200px"></canvas>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Distance Graph
                        </div>
                        <div class="card-body">
                            <canvas id="myChart-Miles"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-wrap align-items-stretch">
                    <div class="card">
                        <div class="card-header">
                            Hours Graph:
                        </div>
                        <div class="card-body">
                            <canvas id="myChart-Hours"></canvas>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Rewards
                        </div>
                        <div class="card-body">
                            <img class="img-fluid" src="/images/emoji-trophy.jpeg" alt="trophy" style="max-height: 150px;margin:15px">
                            <div class="card-footer">
                                Congratulations
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script src="/js/dashboard.js"></script>
            <script src="/js/charts.js"></script>