<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style type="text/css">
    body {
        color: black;
        background: #281A80;
        font-family: 'Roboto', sans-serif;


    }

    .jumbotron {
        color: rgb(128, 128, 128);
        font-family: 'Roboto', sans-serif;
        border-radius: 10px;
        padding: 10px;
    }

    .navbar {
        margin-bottom: 10px;
        font-size: medium;
    }

    .container {
        font-family: 'Roboto', sans-serif;
        color: black;
        border-radius: 10px;

    }


    .card {
        width: 100%;
        margin-bottom: 1rem;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="card text-center w-100">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <div class="userprofile col-md-12 ">
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        Personal Details
                    </div>
                    <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        Recent Activity
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                    <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Steps Today</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                    <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Distance Covered</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                    <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Hours Passed</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 d-flex flex-wrap align-items-stretch">
                <div class="card">
                        <div class="card-header">
                                Steps Graph
                            </div>
                    <div class="card-body">
                            <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                        This is some text within a card body.
                        <div class="card-footer">
                            Average:
                        </div>
                    </div>
                </div>

                <div class="card">
                        <div class="card-header">
                                Distance Graph
                            </div>
                    <div class="card-body">
                            <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                        This is some text within a card body.
                        <div class="card-footer">
                            Average:
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-wrap align-items-stretch">
                <div class="card">
                        <div class="card-header">
                                Hours Graph:
                            </div>
                    <div class="card-body">
                            <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                        This is some text within a card body.
                        <div class="card-footer">
                            Average:
                        </div>
                    </div>
                </div>

                <div class="card">
                <div class="card-header">
                        Hours Graph:
                    </div>
            <div class="card-body">
                    <img class="img-fluid" src="http://placehold.it/300x200" alt="">
                This is some text within a card body.
                <div class="card-footer">
                    Average:
                </div>
            </div>
        </div>
            </div>


        </div>
    </div>









    </body>

</html>