.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form h2 {
    color: #FFFFFF;
    position: relative;
    text-align: center;
}

body {
    color: #fff;
    background: #281A80;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    margin-bottom: 10px;
    font-size: medium;
}

.marquee{
    font-size: 30px;
}