
<link rel="stylesheet" href="/styles/register.css" type="text/css">

<div class="signup-form">

    <h2>Sign Up</h2>
    <form id="create-form">
        <div class="form-group">

            <div class="row">
                <div class="col-xs-6">
                    <input id="new-user-firstName" type="text" class="form-control" name="firstName"
                        placeholder="First Name" required="required">
                </div>
                <div class="col-xs-6">
                    <input id="new-user-lastName" type="text" class="form-control" name="lastName"
                        placeholder="Last Name" required="required">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input id="new-user-email" type="email" class="form-control" name="email" placeholder="Email"
                required="required">
        </div>
        <div class="form-group">
            <input id="new-user-username" type="username" class="form-control" name="username" placeholder="Username"
                required="required">
        </div>
        <div class="form-group">
            <input id="new-user-password" type="password" class="form-control" name="password" placeholder="Password"
                required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a href="./">Log in</a></div>

</form>

<script src="/js/register.js"></script>