body {
        color: #fff;
        background: #281A80;
        font-family: 'Roboto', sans-serif;
    }

    .form-control {
        height: 40px;
        color: black;
    }

    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .signup-form h2 {
        color: #FFFFFF;
        position: relative;
        text-align: center;
    }

    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        outline: none;
    }

    .navbar {
        margin-bottom: 10px;
        font-size: medium;
    }