body {
    color: black;
  
  
      
        background-color: #cccccc;
  
    font-family: 'Roboto', sans-serif;


}

.jumbotron {
    color: rgb(128, 128, 128);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 10px;
}

.navbar {
    margin-bottom: 10px;
    font-size: medium;
}

.container {
    font-family: 'Roboto', sans-serif;
    color: black;
    border-radius: 10px;

}


.card {
    width: 100%;
    margin-bottom: 1rem;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .card{
      background-color: white;
      border-style: solid;
      border-width: 3px;
      border-color: red;
      border-radius: 10px;
  }

 .card-body{
     border-bottom-color: red;
 }
 .card-footer{
     font-size: 15px;
     font-style: bold;
 }

  