body {
    color: #fff;
  
}

.form-control {
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.signupForm {
    width: 400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
}

.signup-form h2 {
    color: #FFFFFF;
    position: relative;
    text-align: center;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.navbar {
    margin-bottom: 10px;
    font-size: medium;
}
